/* IMPORT FONT CSS */
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Playball&display=swap');


body{ 
    background: url("images/background.jpg") fixed center;
    background-size: cover;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    width: 100vw;
    /* font-family: "Luxurious Roman", sans-serif; */
    /* font-size: 14px; */
    /* height: 100vh; */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;

}

#main_container{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: 0px;
}
.imgheader{
   
   width: 100%;
   height:270px;  
   object-fit: cover;
   /* padding-bottom: 5%; */
}

#container_h{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-left: 15%; */
    /* width: 100%; */
    /* font-family: "Luxurious Roman"; */


}

.h1{
    font-family: "Playball";
    font-size: 36px;
    margin-top: 2px;
    margin-bottom: -7px;
    
}
.h2{
    font-family:"Playball";
    font-size: 21px;
    
}

form{  
    font-family: "Luxurious Roman";
    font-size: 14px;
    padding-bottom: 10px;

}

input[type="submit"] {
    background-color: #3a874b;
    color: white;
    padding: 10px 20px;
    margin: 10px O;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;

}